---
services:
  # mariadb 10.6.5 container
  # Doc: https://hub.docker.com/_/mariadb
  myapp-mariadb:
    container_name: myapp-mariadb
    hostname: myapp-mariadb
    image: 'mariadb:10.6.5'
    volumes:
      - 'myapp_mariadb:/var/lib/mariadb'
    restart: unless-stopped
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=myapp
    #env_file: .env # Another way to specify env vars
    ports:
      - '3306:3306'

  # PHPMyAdmin to view the contents of the DB
  myapp-phpmyadmin:
    container_name: myapp-phpmyadmin
    hostname: myapp-phpmyadmin
    image: phpmyadmin/phpmyadmin
    restart: unless-stopped
    environment:
      - PMA_HOST=myapp-mariadb
    ports:
      - '8080:80'
    depends_on:
      - myapp-mariadb

  # Simple Python 3 client that serves the contents of the DB
  myapp-client:
    container_name: myapp-client
    hostname: myapp-client
    image: 'myapp-client:latest'
    build:
      context: ./client/
      dockerfile: docker/Dockerfile
    restart: unless-stopped
    environment:
      - MYSQL_HOST=myapp-mariadb
      - MYSQL_USER=root
      - MYSQL_PASSWORD=root
      - MYSQL_DB=mysql
    ports:
      - '80:8000'
    depends_on:
      - myapp-mariadb

volumes:
  myapp_mariadb:  # Persist mariadb data
